@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    height: 100%;
    width: 100%;
}
.main-container{
    min-height: 100vh;
    max-width: 100vw;
    position: relative;
    font-family: 'Poppins';
    background-color: #f1f1f1;
    
}
/*navbar*/
body{
    position: relative;
    background-color: lightgray;
  }
  .navbar {
    z-index: 100;
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    /* border:2px solid red; */
  }
  
  .nav_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    position: relative;
    align-items: center;
  
  }
  
  .logo{
    width:10%;
    height: 8vh;
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    padding: 1.8rem 1rem;
  
  }
  
  .nav_container a i {
    color: #141414;
    
  }
  
  .company_container {
    padding-top: 30px;
    /* width: 100%; 
   height:200px;
   border: 2px solid red;
   background-color: #FFFFFF;
   margin-top: 250px;
   gap:20px; */
    display: none;
    /* justify-content: space-between; */
    /* flex-direction: column; */
  
  
  }
  
  #company:hover {
    background-color: red;
  }
  
  #company {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list {
    height: 1.5rem;
  }
  
  #company:hover .company_container {
    color: black;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    width: 100%;
    height: 320px;
    border-top: 7px solid red;
    background-color: #FFFFFF;
    margin-top: 20px;
    gap: 20px;
    position: absolute;
    left: 0;
  }
  
  #btn_learn {
    height: 70px;
    width: 95%;
    background-color: red;
    color: #FFFFFF;
    border: none;
  }
  
  .first {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .second {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .third {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 10px;
  }
  
  #Brand {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list1 {
    height: 1.5rem;
  }
  
  #Brand:hover {
    background-color: rgba(255, 94, 0, 0.866);
  }
  
  .Brands_container {
    display: none;
  }
  
  #Brand:hover .Brands_container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: 3rem; */
    width: 100%;
    height: 320px;
    border-top: 10px solid rgba(255, 94, 0, 0.866);
    background-color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  
  #brands {
    height: 30px;
    width: 95%;
    background-color: rgba(255, 94, 0, 0.866);
    color: #FFFFFF;
    border: none;
  }
  
  .fir {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
  }
  
  .sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .th {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .for {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .fiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .six {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  #Sustainability {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list2 {
    height: 1.5rem;
  }
  
  #Sustainability:hover {
    background-color: rgba(88, 221, 130, 0.866);
  }
  
  .Sustainable_container {
    padding-top: 30px;
    display: none;
  }
  
  #Sustainability:hover .Sustainable_container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: 1.5rem; */
    width: 100%;
    height: 320px;
    border-top: 10px solid rgba(88, 221, 130, 0.866);
    background-color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  
  /* button */
  #sustainability {
    height: 70px;
    width: 95%;
    background-color: rgba(88, 221, 130, 0.866);
    color: #ffffff;
    border: none;
  }
  
  .s1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .s2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .s3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .s4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 10px;
  }
  
  #Social {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list3 {
    height: 1.3rem;
  }
  
  #Social:hover {
    background-color: rgba(59, 204, 223, 0.866);
  }
  
  .social_container {
    padding-top: 20px;
    display: none;
  }
  
  #Social:hover .social_container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: rem; */
    width: 100%;
    height: 320px;
    border-top: 10px solid rgba(59, 204, 223, 0.866);
    background-color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  
  #social {
    height: 50px;
    width: 95%;
    background-color: rgba(59, 204, 223, 0.866);
    color: #FFFFFF;
    border: none;
  }
  
  .sc1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .sc2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .sc3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .sc4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  #Careers {
    height: 8rem;
    width: fit-content;
    gap: 5rem;
  }
  
  #navbar_list4 {
    height: 1.5rem;
  }
  
  #Careers:hover {
    background-color: #d7b85b;
  }
  
  
  .Careers_container {
    padding-top: 30px;
    display: none;
  }
  
  #Careers:hover .Careers_container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: rem; */
    width: 100%;
    height: 320px;
    border-top: 10px solid #d7b85b;
    background-color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  
  #career {
    margin-top: 65px;
    height: 70px;
    width: 95%;
    background-color: #d7b85b;
    color: #FFFFFF;
    border: none;
  }
  
  .c1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .c1 p {
    padding-bottom: 20px;
    height: 10px;
  }
  
  .c2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .c3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .c4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  .c5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10px;
  }
  
  #Media {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list5 {
    height: 1.5rem;
  }
  
  #Media:hover {
    background-color: #f79900;
  }
  
  .Media_container {
    padding-top: 30px;
    display: none;
  }
  
  #Media:hover .Media_container {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    /* flex-direction: column; */
    /* gap: rem; */
    width: 100%;
    height: 320px;
    border-top: 10px solid #f79900;
    background-color: #FFFFFF;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  
  #media {
    height: 60px;
    width: 95%;
    background-color: #f79900;
    color: #FFFFFF;
    border: none;
  }
  
  .m1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .m2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 10px;
  }
  
  .m3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 10px;
  }
  
  #Invest {
    height: 5rem;
    width: fit-content;
  }
  
  #navbar_list6 {
    height: 1.5rem;
  }
  
  #Invest:hover {
    background-color: #9b7709;
    
  }
  #navbar_list7 {
    height: 1.5rem;
  }

/*hero*/
.hero{
    width: 100%;
    height: 2591px;
    
    margin: 50px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    
}
.main-container .hero .brands-txt{
    height: 48px;
    width: 100%;
    
    margin: 120px 0;
    text-align: center;

}
.main-container .hero .brands-txt h1{
    font-size: 38px;
    line-height: 26px;
    letter-spacing: normal;
    color: black;
    padding: 10px;
}
.main-container .hero .brev-txt{
    height: 28px;
    width: 100%;
   
    margin-top: -75px;
    text-align: center;
}
.main-container .hero .brev-txt h4{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    font-weight: 400;
    columns: #505050;
}
.main-container .hero .all {
    height: 40px;
    width: 100%;
    
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-container .hero .all button{
    height: 40px;
    font-size: 16PX;
    font-weight: 600;
    padding: 12px 20px;
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container .hero .all button i{
    font-size: 16px;
    margin-left: 5px;
    
}
.main-container .hero .all button:hover{
    background-color: white;
}



.frid{
    height: 2991px;
    width: 964px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:2px auto;
}

.frid .mainfrid{
    height: 100%;
    width: 648px;
    
    font-family: 'Poppins';
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,1fr);
    gap:1rem 1rem;
   
    
}

.mainfrid .all11{
    height: 183px;
    width: 183px;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 15px #f1f1f1c7;
    position: relative;
}
.mainfrid .all11 img{
    height: 180px;
    width: 180px;
    padding: 32px;
    object-fit: cover;
    overflow: hidden;
    
}
.last-imf{
    height: 183px;
    width: 648px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.las{
    background-color: transparent !important;
}


/*352 117*/
.second-hero{
    height: 633px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Poppins';
}
.second-hero .related{
    margin-top: 80px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    text-align: center;
 
}
.second-hero .related h1{
    font-size: 38px;
    line-height: 40px;
}

/*cards*/
.card{
    margin-top: 10px;
    height: 437px;
    width: 1200px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.card .card1{
    height: 360px;
    width: 380px;
    
    background-color: #ffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap:5px;
    text-align: left;
    overflow: hidden;
    
}

.card .card1 img{
    height: 120px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-position: center;
    object-fit: cover;
    
}
.card .card1 p{
    padding: 24px;
    font-size: 1.2rem;
    line-height: 26px;
    letter-spacing: normal;
    white-space:wrap;
}
.card .card1 a{
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    transition: all 0.5s ease;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.card .card1 a:hover{
    color: #6e6e6e;
    border: 1px solid #6e6e6e;
    border-radius: 30px;
}
.card .card1 a i{
    margin-left: 12px;
}


/*footer*/
.footer{
    height: 663px;
    width: 100%;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins';
}
.footer .top-footer{

    height: 6rem;
    width: 85%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
}
.footer .top-footer button{
   
    width: 260px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
}
.footer .sub-footer1{
    height: 75%;
    width: 99%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    
    gap: -20px;

}
.footer hr{
    margin-top: 2rem;
}
.footer .sub-footer1 .support ul{
    list-style-type: none;
}
.footer .sub-footer1 .faq ul{
    list-style-type: none;
}
.footer .sub-footer1 li{
    color: #ffffff;
}
.footer .sub-footer1 .about ul{
    list-style-type: none;
}
.footer .sub-footer1 .support .sup{
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    text-align: start;
}

.footer .sub-footer1 .about .sup{
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    line-height: 27px;
    text-align: start;
}
.footer .sub-footer1 li{
    font-size: 1em;
    text-align: left;
    letter-spacing: normal;
    line-height: 24px;
    color:#ffffff;
    padding: 3px 0;
    margin-top: 2px;
}
.footer .sub-footer1 .STAY{
    height: 90%;
    width: 250px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    
    
}
.footer .sub-footer1 .STAY .upto{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    color: black;
    margin-top: 40px;
}


.footer .sub-footer1 .STAY .explore .wap{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    text-align: start;
}
.footer .sub-footer1 .STAY .explore h2{
    margin-top: 80px;
    text-align: start;
    color: #ffffff;

}
.footer .sub-footer1 .STAY .explore .trac{
    height:60px;
    width: 60px;
    
}
.footer .sub-footer1 .STAY .explore .ssss {
    height:60px;
    width: 60px;
}
.footer .sub-footer1 .STAY .explore .trac img{
    height: 60px;
    width:60px;
    object-fit: cover;
    background-color: white;
    border: 1px solid white;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
}
.footer .sub-footer1 .STAY .explore .ssss img{
    height: 60px;
    width:60px;
    object-fit: cover;
    background-color: white;
    border: 1px solid white;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
}


.footer .sub-footer1 .STAY .upto .h3{
    font-size: 20px;
    line-height: 28px;
    text-align: start;
    color: white;
    background-color: #181818;
}
.footer .sub-footer1 .STAY .upto .follow{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #181818;
}
.footer .sub-footer1 .STAY .upto .follow .fa-youtube,.fa-twitter,.fa-pinterest,.fa-instagram,.fa-facebook,.fa-linkedin,.fa-location-dot{
    font-size: 20px;

    
}
.follow i{
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.footer hr{
    height: 3px;
    width: 85%;
}


.sub-footer2{
    height:25%;
    width: 99%;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    font-family: 'Poppins';
    text-align: end;
}

.footer .sub-footer2 .laspara{
    width: 100%;
    font-size:1em;
    line-height: 1.2em;
    color: #ffffff;
    
}

